<div id="bg">
	<div id="bg-holder">
		<%= image_tag "blue-background.jpg" %>
	</div>
</div>
<div id="content">
	<div id="container">
			<%= image_tag "logo.png" %>
			<p>COMING 2014</p>
	</div>
</div>
