// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@charset "UTF-8";

html, body {
  height:100%;
  margin:0;
  padding:0;
  width:100%;
}
body {
  color:#ffffff;
  font-family: 'Lato', sans-serif;  font-size:1.25em;
  text-shadow: 1px 1px 0px #000;
  filter: dropshadow(color=#000, offx=1, offy=1);
  letter-spacing: 10px;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  text-align:center;
}
#bg {
  height:100%;
  left:0;
  overflow:hidden;
  position:fixed;
  top:0;
  width:100%;
  z-index:0;
}
#bg-holder {
  height:200%;
  left:-50%;
  overflow:hidden;
  position:relative;
  top:-50%;
  width:200%;
	
	img {
	  display:inline-block;
	  min-height:75%;
	  min-width:75%;
	  position:relative;
	}
}

#content {
  height:auto;
  left:0;
  padding: 0;
  position:absolute;
  top:0;
  width:100%;
}
#container {
  margin:auto;
  height:auto;
  top: 200px;
  position:relative;
  text-align:center;
  width:auto;
}
img {
  border:none;
  max-width: 100%;
}
p {
  margin: 30px;
}